p {width: 200px;
    height: 200px;
    border-radius: 150px;
    font-size: 30px;
    font-family: impact;
    text-align: center;
    color: white;
    border: 10px double white;
    position: fixed;
}

.coffee {
    background-color: #ca3767;
    top:20px;
    left:400px;
}

.milk {
    background-color: #de5d83;
    top:240px;
    left:400px;
}

.juice {
    background-color: #fc89ac;
    top:460px;
    left:400px;
}

.salad {
    background-color: #f780a1;
    top: 20px;
    left: 620px;
}

.pasta {
    background-color: #ee204d;
 	top: 240px;
    left: 620px;
}

.pizza {
    background-color: #c8385a;
	top: 460px;
    left: 620px;
}

.bagel {
    background-color: #ff496c;
    top: 20px;
    left: 840px;
}

.donut {
    background-color: #fc6c85;
   	top: 240px;
    left: 840px;
}

.cupcake {
    background-color: #fc2847;
    top: 460px;
    left: 840px;
}