.basic {width: 200px;
    height: 200px;
    border-radius: 150px;
    font-size: 30px;
    font-family: impact;
    text-align: center;
    color: white;
    border: 10px double white;
    position: fixed;
}

a {
    color: white;
}

.coffee {
    background-color: #ca3767;
    top:40px;
    left:400px;
}

.coffee:hover {
    width: 200px;
    height: 200px;
    background-image:url(coffee.jpg);
}

.milk {
    background-color: #de5d83;
    top:260px;
    left:400px;
}

.milk:hover {
    width: 200px;
    height: 200px;
    background-image:url(milk.jpg);
}

.juice {
    background-color: #fc89ac;
    top:480px;
    left:400px;
}

.juice:hover {
    width: 200px;
    height: 200px;
    background-image:url(juice.jpg);
}

.salad {
    background-color: #f780a1;
    top: 40px;
    left: 620px;
}

.salad:hover {
    width: 200px;
    height: 200px;
    background-image:url(salad.jpg);
}

.pasta {
    background-color: #ee204d;
 	top: 260px;
    left: 620px;
}

.pasta:hover {
    width: 200px;
    height: 200px;
    background-image:url(pasta.jpg);
}

.pizza {
    background-color: #c8385a;
	top: 480px;
    left: 620px;
}

.pizza:hover {
    width: 200px;
    height: 200px;
    background-image:url(pizza.jpg);
}

.bagel {
    background-color: #ff496c;
    top: 40px;
    left: 840px;
}

.bagel:hover {
    width: 200px;
    height: 200px;
    background-image:url(bagel.jpg);
}

.doughnut {
    background-color: #fc6c85;
   	top: 260px;
    left: 840px;
}

.doughnut:hover {
    width: 200px;
    height: 200px;
    background-image:url(doughnut.jpg);
}

.cupcake {
    background-color: #fc2847;
    top: 480px;
    left: 840px;
}

.cupcake:hover {
    width: 200px;
    height: 200px;
    background-image:url(cupcake.jpg);
}