body {
    background-image: url(jelly.jpg);
}

h1 {

    position: fixed;
    top: 80px;
    left:350px;
    text-decoration: blink;
    font-size: 50px;
    font-family: impact;
    font-weight: lighter;
    color: white;
}

a {
    color: white;
}

.trolli{
    background-image:url(sour.jpg);
    background-size:600px 400px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    transition: all 2s;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    color: white;
    position: fixed;
    top:250px;
    left:370px;
    z-index: 2000;
}

.trolli:hover {
    width: 400px;
    height: 400px;
    background-color: red;
    line-height: 300px;
    color: white;
}

.clock {
    width: 300px;
    height: 200px;
    position: fixed;
    top: 270px;
    left:560px;
    animation-name: myclock;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.seconds {
    width: 300px;
    height: 12px;
    background-color: pink;
    position: absolute;
    top: 98px;
    left: 0px;
}

@keyframes myclock {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.haribo{
    background-image:url(haribo.jpg);
    background-size:600px 400px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    transition: all 2s;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align:center;
    line-height: 200px;
    color: white;
    position: fixed;
    left:770px;
    top:250px;
}

.haribo:hover {
    width: 400px;
    height: 400px;
    background-color: red;
    line-height: 300px;
    color: white;
}



