body {
    background-color: white;
}

p {
    color: red;
    background-color:skyblue;
    width: 200px;
    overflow: hidden;
    
}

a {
    top: 100px;
    right: 10px;
    font-size: 20px;
    font-family: impact;
    color: black;
    text-decoration: none;
    padding: 20px;
    background-color: white;
    border: 10px double black;
    
}

.ontop {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 30px;
}

.special {
    background-color: purple;
    color: white;

}

.myheader {
    background-color: blue;

}