body {
    background-color: #FF9999;
    color: white;
    font-size: 40px;
    line-height: 70px;
    letter-spacing:5px;
    font-family:impact;
}

p {
    color: red;
    background-color:yellow;
    width: 200px;
    overflow: hidden;
    text-decoration: underline;
    font-family:Helvetica, Arial, sans-serif;
    
}

a {
    color: black;
    line-height: 2;
    width: 200px;
    overflow: hidden;
    text-decoration: underline;
    font-family:Helvetica, Arial, sans-serif;
}

.main {
    font-family:Phosphate,impact;
    font-family:Helvetica, Arial, sans-serif;
}