body {
     background-image: url(nyc.jpg);
}

h1 {
    color: black;
    font-size: 65px;
    line-height: 65px;
    letter-spacing:10px;
    font-family:impact;
    position: fixed;
    top:20px;
    text-align: left;
    left: 20px;
}

a {
    position:fixed;
    font-size: 25px;
    font-family: impact;
    letter-spacing:2px;
    color: red;
    text-align:left;
}

.box {
    height: 110px;
    width: 185px;
    background-color: transparent;
    border: 10px double black;
}

.paper {
    position: fixed;
    left:20px;
    top:250px;
}

.interview {
    position: fixed;
    left:290px;
    top:250px;
}

.css-1 {
    position: fixed;
    left:560px;
    top:250px;
}

.css-2 {
    position: fixed;
    left:20px;
    top:410px;
}

.css-3 {
    position: fixed;
    left:290px;
    top:410px;
}

.css-4 {
    position: fixed;
    left:560px;
    top:410px;
}