body {
    background-color: #fa8072;
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}


h1 {
    color: white;
    font-size: 65px;
    line-height: 65px;
    letter-spacing:2px;
    font-family:impact;
    position: fixed;
    top:20px;
    text-align: left;
    left: 20px;
}

a {
    position:fixed;
    font-size: 20px;
    font-family: impact;
    letter-spacing:2px;
    color: white;
    text-align:left;
    margin-top:9px;
    margin-left:15px;
}

.box {
    height: 110px;
    width: 185px;
    border-radius:300px;
    background-color: transparent;
    border: 10px double white;
}

.paper {
    position: fixed;
    left:20px;
    top:250px;
}

.interview {
    position: fixed;
    left:240px;
    top:250px;
}

.jquery {
    position: fixed;
    left:20px;
    top:410px;
}

.catalog {
    position: fixed;
    left:240px;
    top:410px;
}

.css-1 {
    position: fixed;
    left:660px;
    top:250px;
}

.css-2 {
    position: fixed;
    left:880px;
    top:250px;
}

.css-3 {
    position: fixed;
    left:1100px;
    top:250px;
}

.css-4 {
    position: fixed;
    left:660px;
    top:410px;
}

.css-5 {
    position: fixed;
    left:880px;
    top:410px;
}

.css-6 {
    position: fixed;
    left:1100px;
    top:410px;
}



