.basic {
    width: 200px;
    height: 200px;
    font-size: 60px;
    font-family: impact;
}

a {
    position: relative;
    left: 32px;
    top: -80px;
    color: transparent;
}

.pop{
    position: absolute;
    top: 0px;
    left: 603px;
    width: 200px;
    height: 333px;
    background-image: url(images/pop--1.png);
    margin: 20px;
}

.pop:hover{
    background-image: url(images/pop--2.png);
}

.move{
    position: absolute;
    top: 0px;
    left: 833px;
    width: 200px;
    height: 333px;
    background-image: url(images/move--1.png);
    margin: 20px;
}

.move:hover{
    background-image: url(images/move--2.png);
}

.variety{
    position: absolute;
    left: 1063px;
    top: 0px;
    width: 200px;
    height: 333px;
    background-image: url(images/variety--1.png);
    margin: 20px;
}

.variety:hover{
    background-image: url(images/variety--2.png);
}

.favorite{
    position: absolute;
    top:355px;
    left: 603px;
    width: 200px;
    height: 333px;
    background-image: url(images/favorite--1.png);
    margin: 20px;
}

.favorite:hover{
    background-image: url(images/favorite--2.png);
}

.shuffle{
    position: absolute;
    top:355px;
    left: 833px;
    width: 200px;
    height: 333px;
    background-image: url(images/shuffle--1.png);
    margin: 20px;
}

.shuffle:hover{
    background-image: url(images/shuffle--2.png);
}

.bwcolor{
    position: absolute;
    top:355px;
    left: 1063px;
    width: 200px;
    height: 333px;
    background-image: url(images/bwcolor--1.png);
    margin: 20px;
}

.bwcolor:hover{
    background-image: url(images/bwcolor--2.png);
}

.color {
    font-size: 100px;
    font-family: impact;
    color: pink;
}

h1 {
    position: absolute;
    left: 15px;
    top: -20px;
    color: #e84549;
    font-family: impact;
    font-size: 130px;
    
}

h2 {
    position: absolute;
    left: 15px;
    top: 85px;
    color: pink;
    font-family: impact;
    font-size: 120px; 
}

h3 {
    position: absolute;
    left: 15px;
    top: 162px;
    color: #e84549;
    font-family: impact;
    font-size: 130px; 
}

h4 {
    position: absolute;
    left: 15px;
    top: 237px;
    color: pink;
    font-family: impact;
    font-size: 130px; 
}


h5 {
    position: absolute;
    left: 15px;
    top: 310px;
    color: #e84549;
    font-family: impact;
    font-size: 130px; 
}

h6 {
    position: absolute;
    left: 15px;
    top: 327px;
    color: pink;
    font-family: impact;
    font-size: 135px;
}
