.basic {
    width: 375px;
    height: 667px;
    top: 5%;
    left: 40%;
    background-color: white;
    position: fixed;
    border: black solid 1px;
}

.bar {
    width: 375px;
    height: 63px;
    top: 5.1%;
    left: 40.1%;
    background-color: #43CBB8;
    position: fixed;
}

.logo-1 {
    width: 68px;
    height: 24px;
    left: 49.1%;
    top: 50%;
    position: absolute;
    z-index: 30;
}

.clock {
    width: 345px;
    height: 345px;
    left: 41.5%;
    top: 30%;
    position: absolute;
    z-index: 6;
}


