h1 {
    position: fixed;
    left: 200px;
    top: 600px;
    text-decoration: blink;
    font-size: 40px;
    font-family: impact;
    font-weight: lighter;
    color: black;
}

.dot {
    border-radius: 50%;
    background-color: pink;
    margin: 30px;
    display: inline-block;
    position: absolute;
    color: black;
}

