body {
    overflow: scroll;
}

h1 {
    position: fixed;
    left: 850px;
    top: 0px;
    font-size: 100px;
}

h3 {
    color: black;
    left: 200px;
}

h2 {
    position: fixed;
    left: 850px;
    top: 170px;
    text-decoration: blink;
    font-size: 35px;
    font-family: impact;
    font-weight: lighter;
    color: black;
}

img {
    left: 0;
    width: 800px;
    top: 50%;
    
}
